/* logo - #4D5AE5
          #2E2F42
   шапка - #2E2F42
           #4D5AE5
  кнопки - #FFFFFF
          #4D5AE5
  hero - #2E2F42
  основной текст - #434455
  h - #2E2F42
  footer - #E7E9FC
  #2E2F42
*/
:root {
  --first-text-color: #434455;
  --second-text-color: #4d5ae5;
  --third-text-color: #2e2f42;
  --card-set-gap: 24px;
}
body {
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  color: var(--first-text-color);
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}
.down-logo {
  text-decoration: none;
}
.list {
  list-style-type: none;
}
.listz {
  list-style-type: none;
  display: flex;
}
.example {
  list-style-type: none;
}
.example a {
  text-decoration: none;
}
.filter-link {
  list-style-type: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* container*/
.container {
  width: 1158px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  align-items: center;
}
.section {
  padding-bottom: 120px;
}
/* main-nav */
.main-nav {
  display: flex;
  align-items: center;
}

/* logo 
#4D5AE5
#2E2F42
*/
.logo {
  color: var(--third-text-color);
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.34;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.colortext {
  color: var(--second-text-color);
}
.global-nav {
  display: inline-block;
  height: 72px;
  padding-top: 24px;
  text-align: center;
  width: 100%;
}
.header-logo {
  display: flex;
}
/*site-nav*/
.site-nav {
  display: flex;
  margin-left: 77px;
  margin-right: 260px;
}

.site-nav .item:not(:last-child) {
  margin-right: 40px;
}
.site-nav .list {
  color: var(--third-text-color);
  font-weight: 600;
  line-height: 1.5;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--second-text-color);
}

/*.site-nav .item:hover{
  border-bottom: solid;
  border-color: var(--second-text-color);
}*/
.site-nav .link {
  position: relative;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--third-text-color);

  padding-top: 24px;
  padding-bottom: 26px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current::after {
  content: "";
  position: absolute;

  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: bold;
}

.site-nav .current {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #404bbf;
}

/*auth-nav*/

.lists {
  list-style-type: none;
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: flex-end;
}
.lists .item + .item {
  margin-left: 40px;
}
.auth-nav .link {
  margin-top: 24px;
  margin-bottom: 24px;

  line-height: 1.5;
  text-decoration: none;
  color: var(--first-text-color);

  cursor: default;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-nav .tel {
  margin-top: 24px;
  margin-bottom: 24px;
  line-height: 1.5;
  max-width: 151px;

  text-decoration: none;
  color: var(--first-text-color);
  cursor: default;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-nav .link:hover,
.auth-nav .link:active {
  color: var(--second-text-color);
}
.auth-nav .tel:hover,
.auth-nav .tel:active {
  color: var(--second-text-color);
}

/* hero
#2E2F42
#FFFFFF
#4D5AE5*/
.hero {
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  height: 603px;
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--third-text-color);
  text-align: center;
  padding-top: 192px;
  padding-bottom: 192px;
}
.hero-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 48px;

  color: #ffffff;
  font-weight: 600;
  font-size: 56px;
  line-height: 1.1;
}
.hero .button {
  background-color: var(--second-text-color);
  color: #ffffff;
  border: var(--second-text-color);
  font-weight: 600;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  font-family: inherit;
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero .button:hover,
.hero .button:focus {
  background-color: #404bbf;
}
/* info
#2E2F42 */
.rad {
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.item-antenna {
  width: 64px;
  height: 64px;
}
.item-clock {
  width: 64px;
  height: 64px;
}
.item-diagram {
  width: 64px;
  height: 64px;
}
.item-astronaut {
  width: 64px;
  height: 64px;
}

.info {
  padding-top: 120px;
}

.listz {
  padding-left: 0;
}
.listz .item:not(:last-child) {
  margin-right: 24px;
}

.info-title {
  margin-bottom: 8px;
  color: var(--third-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.title-text {
  line-height: 1.5;
  width: 264px;
  font-size: 16px;
  font-family: inherit;
  color: var(--first-text-color);
}
/* photo 
#2E2F42 */

.titles-ph {
  display: flex;
  list-style-type: none;
  text-decoration: none;
  padding-left: 0;
}
.titles-ph li:not(:last-child) {
  margin-right: 24px;
}
.titles-ph:nth-child(n3) {
  margin-right: 0;
}
.photo-titles {
  color: var(--third-text-color);
  font-weight: 600;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  margin-bottom: 72px;
}

/* team 
#2E2F42
#F4F4FD*/

.team {
  background-color: #f4f4fd;
  padding-top: 120px;
}
.team-titles {
  font-family: inherit;
  color: var(--third-text-color);
  font-weight: 600;
  font-size: 36px;
  line-height: 1.1;
  margin-bottom: 72px;
  text-align: center;
}
.card-heading {
  color: var(--third-text-color);
  font-family: inherit;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
}

.titles-tm {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}
.titles-tm li:not(:last-child) {
  margin-right: 24px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* CARD*/

.card-content {
  text-align: center;
  padding: 32px 16px;
  background-color: #ffffff;
  filter: drop-shadow(1px 1px 6px rgba(46, 47, 66, 0.16));
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.card-text {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.5;
  font-family: inherit;
}
.modern-iconss {
  display: flex;
  margin-top: 12px;
}
.media-correct:not(:last-child) {
  margin-right: 24px;
}
.media-correct {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--second-text-color);
  background-position: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: var(--second-text-color);
  margin-top: 12px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.media-correct:hover svg {
  background-color: #404bbf;
}
.media-correct:hover {
  background-color: #404bbf;
}

/*customer*/
.section-customers {
  padding-top: 120px;
  padding-bottom: 120px;
}
.customer-list {
  display: flex;
  list-style-type: none;
  text-decoration: none;
  padding-left: 0;
}
.customer-items {
  width: 168px;
  height: 88px;
}
.customer-items:not(:last-child) {
  margin-right: 24px;
}
.customer-links {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-title {
  text-align: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
  margin-bottom: 72px;
}

/*items in custom */
.item-group {
  fill: #8e8f99;
  width: 41px;
  height: 46.97px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-groupa {
  fill: #8e8f99;
  width: 40px;
  height: 52px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-objecf {
  fill: #8e8f99;
  width: 44px;
  height: 41px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-groupb {
  fill: #8e8f99;
  width: 84px;
  height: 41px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-groupc {
  fill: #8e8f99;
  width: 63px;
  height: 45px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-objectd {
  fill: #8e8f99;
  width: 94px;
  height: 44px;
  color: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-links:hover {
  border-color: #4d5ae5;
}
.customer-links:hover svg {
  fill: #4d5ae5;
}

/* foooter сайта*/
.down {
  background-color: var(--third-text-color);
  padding-top: 100px;
  padding-bottom: 100px;
}
.down-logo {
  color: #f4f4fd;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;

  line-height: 1.34;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.down-text {
  color: #e7e9fc;
  line-height: 1.5;
  font-size: 16px;
  width: 264px;
  font-family: inherit;
}
/* Media footer*/
.social-text {
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 12px;
}
.modem {
  display: flex;
  align-items: baseline;
  list-style-type: none;
  padding-left: 0;
}
.social-block {
  margin-left: 120px;
}

.social {
  width: 24px;
  height: 24px;
  margin-top: 7px;
}

.social-items {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-items:not(:last-child) {
  margin-right: 16px;
}
.social-items:hover,
.social-items:focus {
  background-color: #31d0aa;
}

/*-----------------form footer   ---------------------*/

.footer-form-title {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5px;
  letter-spacing: 0.02em;
  color: #ffffff;
  display: block;
  margin-bottom: 16px;
}
.form-footer-input {
  background-color: #2e2f42;
  color: #ffffff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 24px;
  padding: 8px 16px;
}
.form-footer-input:focus {
  outline: none;
  border-color: rgba(77, 90, 229, 1);
}
.form-footer-input::placeholder {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}
.form-footer-block {
  margin-left: 71px;
}
.form-footer-button {
  padding-left: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 64px;
  width: 165px;
  background: #4d5ae5;
  border-radius: 4px;
  font-weight: 500;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  position: relative;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.form-footer-button::before {
  content: " ";
  background-image: url(../images/telegram.svg);
  background-position: center;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 24px;
  left: 117px;
  top: 50%;
  transform: translateY(-50%);
}
.footer-form-pos {
  display: flex;
}
.form-footer-box {
  display: block;
  justify-content: flex-end;
}
/* Back drop*/
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-icon {
  width: 8px;
  height: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:active {
  background-color: #404bbf;
  border-radius: #404bbf;
}
.modal-btn:hover .modal-icon,
.modal-btn:active .modal-icon {
  fill: #ffffff;
}
/* portfolio*/

/* portfolio- button*/
.art {
  padding-top: 96px;
  padding-bottom: 120px;
}
.filter-link {
  display: flex;
  padding-left: 0;
  justify-content: center;
  margin-bottom: 72px;
}

.filter-box:not(:last-child) {
  margin-right: 24px;
}
.gallery-link {
  color: var(--second-text-color);

  background-color: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  font-weight: 500;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery-link:hover,
.gallery-link:focus {
  color: #ffffff;
  background-color: var(--second-text-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
  border-color: var(--second-text-color);
}
.midd {
  border-bottom: 1px solid;
  border-color: rgba(46, 47, 66, 0.16);
}
/* portfolio photo */

.example {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}
.example-titles {
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--third-text-color);
}
.example-titles p {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  color: var(--first-text-color);
}

.example a {
  line-height: 1.5;
  color: var(--first-text-color);
}

.flex-element {
  padding: 32px;
  border: 0.5px solid #f4f4fd;
  border-top: none;
  text-align: left;
  padding-left: 16px;
}
.paragraph {
  font-family: inherit;
  color: var(--first-text-color);
  font-size: 16px;
  line-height: 1.5;
}

.example-card:not(:nth-child(3n)) {
  margin-right: 24px;
}
.example-card:not(:nth-last-child(-n + 3)) {
  margin-bottom: 48px;
}

.example-card:hover {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.flex-container {
  position: relative;
  overflow: hidden;
}
.product-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.example-card:hover .product-overlay {
  transform: translateY(0);
}
.overlay-text {
  font-family: inherit;
  color: #f4f4fd;
  font-size: 16px;
  margin-top: 40px;
  margin-left: 32px;
  margin-right: 32px;
  letter-spacing: 2%;
}

/*---------------- kontakt form----------------*/
.form-kontakt {
  padding-left: 24px;
  padding-right: 24px;
}
.form-label {
  font-family: "Roboto";
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #8e8f99;
  padding-bottom: 4px;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
.form-input {
  width: 100%;
}

.form-field input {
  margin: 0;
  padding: 6px 38px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 14px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  outline: none;
  border-color: rgba(77, 90, 229, 1);
}

.form-input:focus + .form-icon {
  fill: rgba(77, 90, 229, 1);
}

.form-title {
  margin-bottom: 16px;
  margin-top: 72px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.comment {
  border-radius: 4px;
  resize: none;
  width: 100%;
  height: 120px;
  padding: 8px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment::placeholder {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}
.comment:focus {
  outline: none;
  border-color: rgba(77, 90, 229, 1);
}
.button-send {
  display: flex;
  justify-content: center;
}

.form-button {
  color: #ffffff;
  padding: 16px 65px;
  background: #4d5ae5;
  border-color: #4d5ae5;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  margin: 24px 0 24px;
  border: none;
  cursor: pointer;
}
.label-text {
  color: #757575;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  margin-top: 16px;
  display: flex;
  align-items: center;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 19px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.pos-form-icon {
  position: relative;
}

.label-text::before {
  content: " ";
  display: block;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  cursor: pointer;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.accept:checked + .label-text::before {
  background-image: url(../images/click.svg);
  background-color: rgba(64, 75, 191, 1);
  background-position: center;
}
